#coming-soon {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden;
}
.blueBg2 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #7ad4fb;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.blueBg {
  position: relative;
  width: 68%;
  height: 90%;
  background-color: #7ad4fb;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 5%; */
}

.comingContainer {
  display: flex;
  justify-content: space-evenly;
}
.logo {
  padding-top: 3rem;
  scale: 1;
  z-index: 2;
  width: 120px;
}
.background-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  overflow-y: hidden;
  background-size: auto 100%;
}
/* .background-layer {
  z-index: 0; 
  bottom: 40%;  
  width: 100%;
  height: 30%; 
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center bottom;
  pointer-events: none;
} */
.clouds-bg {
  z-index: 1;
  height: 25vh;
  scale: 2;
  margin-bottom: 0;
}
.ground {
  z-index: 2;
  bottom: 0;
  height: 25%;
}

.clouds1 {
  position: absolute;
  top: 10%; /* adjust vertical height */
  left: 0; /* send to left corner */
  scale: 1;
  width: 14vw;
  image-rendering: pixelated;
}

.clouds2 {
  position: absolute;
  top: 10%;
  right: 0;
  scale: 1; /* send to right corner */
  width: 14vw;
  image-rendering: pixelated;
}

.center-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}

.character-container {
  position: relative;
  display: flex;
  width: 100vw;
  align-items: flex-end;
  gap: 4rem;
  justify-content: center;
  padding-right: 8vw;
}
.character-bike {
  position: relative;
  z-index: 11;
}
.blueBg2 {
  display: none;
}

.character-pikachu {
  position: relative;
  z-index: 12;
}
.character-bike,
.character-pikachu {
  position: relative;
  z-index: 11;
  /* max-height: 100px; */
  object-fit: contain;
  padding-bottom: 2.5rem;
}
.character-bike {
  max-height: 120px;
}
.character-pikachu {
  height: 120px;
  max-height: 75px;
}

.staticGrass {
  position: absolute;
  bottom: -1%;
  left: 0;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@media (max-width: 1430px) {
  .center-content {
    gap: 1.1rem;
  }
  .blueBg2 {
    /* padding-bottom: 10%; */
    display: none;
  }
}
@media (max-width: 1220px) {
  .center-content {
    gap: 0rem;
  }
  .logo {
    width: 100px;
  }
  .blueBg2 {
    /* padding-bottom: 10%; */
    display: none;
  }
}

@media (max-width: 1024px) {
  .blueBg {
    /* padding-bottom: 10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .center-content {
    gap: 1.5rem;
  }
  .loaderController {
    transform: translateX(-40px);
  }
  .clouds1 {
    width: 100px;
    margin-top: 10%;
  }
  .coming-soon-text {
    font-size: 4.5rem;
    margin-top: 5%;
    text-shadow: 0.3rem 0.3rem 0 #204988;
    letter-spacing: 0.15em;
  }
  .logo {
    width: 70px;
  }
  .character-layer {
    /* bottom: 24%; */
  }
  .character-bike {
    max-width: 60px;
    padding-bottom: 2rem;
  }
  .character-pikachu {
    max-width: 40px;
    padding-bottom: 2rem;
  }
  .trainer {
    width: 90px;
  }
  .pikachu {
    width: 60px;
  }
  .blueBg2 {
    /* padding-bottom: 10%; */
    display: none;
  }
}

@media (max-width: 920px) {
  .loaderController {
    display: none;
  }
  .blueBg2 {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #7ad4fb;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .clouds1 {
    width: 240px;
    margin-top: 10%;
  }
  .clouds2 {
    width: 240px;
    margin-top: 10%;
  }
  .clouds-bg {
    z-index: 1;
    height: 45vh;
    scale: 2;
    margin-bottom: 0;
  }
  .logo {
    width: 120px;
  }
  .coming-soon-text {
    font-size: 3.5rem;
    margin-top: 5%;
    -webkit-text-stroke: 0.18rem #193087;
    text-shadow: 0.1rem 0.1rem 0 #204988;
    letter-spacing: 0.15em;
  }
  .character-bike {
    max-height: 400px;
    max-width: 200px;
    height: 200px;
    padding-bottom: 2rem;
  }
  .character-pikachu {
    max-height: 100px;
    max-width: 100px;
    padding-bottom: 2rem;
  }
  .trainer {
    width: 90px;
  }
  .pikachu {
    width: 60px;
  }
}

@media (max-width: 820px) {
  .blueBg {
    padding-bottom: 5%;
  }
  .comingContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 2rem;
  }
  .clouds1 {
    position: absolute;
    width: 250px;
    opacity: 0.9;
    z-index: 1;
    top: 10%;
  }
  .clouds1 {
    width: 240px;
    margin-top: 10%;
  }
  .clouds2 {
    width: 240px;
    margin-top: 10%;
  }
  .coming-soon-text {
    font-size: 4rem;
    white-space: nowrap;
    text-align: center;
    z-index: 10;
    font-weight: 1000;
    text-shadow: 0.2rem 0.2rem 0 #204988;
    letter-spacing: 0.15em;
  }
}
@media (max-width: 667px) {
  #coming-soon {
    padding: 2px 0;
  }
  .blueBg {
    padding-bottom: 0%;
  }
  .ground {
    height: 35%;
  }
  .logo {
    width: 140px;
  }
  .character-layer {
    bottom: 30%;
  }
  .trainer {
    width: 80px;
    margin-right: 10px;
  }
  .pikachu {
    width: 50px;
  }
  .floating-cloud {
    width: 120px;
  }
  .comingContainer {
    position: relative;
    display: flex-box;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 2rem;
  }
  .clouds1 {
    position: absolute;
    width: 150px;
    opacity: 0.9;
    z-index: 1;
    top: 30%;
  }
  #cloud1 {
    left: 2%;
  }
  #cloud2 {
    right: 2%;
  }
  .coming-soon-text {
    font-size: 2.5rem;
    white-space: nowrap;
    text-align: center;
    z-index: 10;
    font-weight: 1000;
    text-shadow: 0.2rem 0.2rem 0 #204988;
    -webkit-text-stroke: 0.15rem #193087;

    letter-spacing: 0.1em;
  }
  .center-content {
    justify-content: space-between;
    padding-top: 20%;
  }

  .character-container {
    margin: 0;
    padding-right: 7rem;
    gap: 2rem;
  }
  .character-pikachu {
    margin-right: 0;
    gap: 2rem;
    max-height: 100px;
  }
  .character-bike {
    margin-right: 0;
    gap: 2rem;
    max-height: 180px;
  }

  .lines {
    height: 0.5rem;
  }
}
.enter-button {
  position: absolute;
  bottom: 1rem;
  right: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  z-index: 10;
  scale: 0.55;
}

.enter-button:hover {
  transform: scale(1.1);
}

.enter-button:active {
  transform: scale(0.95);
}

.enter-button img {
  width: 10rem;
  height: auto;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
}

/* Responsive */

@media (max-width: 1024px) {
  .enter-button {
    bottom: 0.6rem;
    right: 0.1rem;
  }

  .enter-button img {
    width: 7rem;
  }
}
@media (max-width: 920px) {
  .enter-button {
    bottom: 1rem;
    right: 0rem;
  }

  .enter-button img {
    width: 12rem;
  }
}

@media (max-width: 920px) {
  .enter-button {
    bottom: 1rem;
    right: 0rem;
  }
  .character-bike {
    max-height: 150px;
  }
  .character-pikachu {
    max-height: 80px;
  }
  .enter-button img {
    width: 10rem;
  }
}
