.team-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  overflow-y: auto;
  width: 75%;
}
.border-top {
  margin-top: 30%;
}

.team-header {
  text-align: center;
  margin-bottom: 30px;
}

.team-title {
  font-family: "Fire Sans", sans-serif;
  font-size: 3rem;
  margin-bottom: 10px;
}

.team-subtitle {
  font-family: "Pocket Monk", sans-serif;
  font-size: 1.75rem;
  color: #444;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  /* display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-bottom: 50px; */
}

@media (min-width: 600px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .team-container {
    padding-top: 15vh;
    overflow-y: auto;
  }
  .border-top {
    margin-top: 22%;
  }
}

@media (min-width: 900px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .team-container {
    padding-top: 18vh;
  }
  .outer {
    object-fit: fit;
  }
  .border-top {
    margin-top: 29%;
  }
}

@media (min-width: 1200px) {
  .team-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .team-container {
    padding-top: 35vh;
    margin-bottom: 30vh;
  }
}
.font-fire {
  font-family: "Pocket Monk", sans-serif;
  font-size: 86px;
  color: #ffeb3b;
  text-shadow:
    -2px -2px 0 #00008b,
    2px -2px 0 #00008b,
    -2px 2px 0 #00008b,
    2px 2px 0 #00008b;
  text-decoration: none;
  transition: all 0.3s ease;
  white-space: nowrap;
}
.outer {
  object-position: top center;
}
/* iPad / Tablet view */
@media (min-width: 768px) and (max-width: 1199px) {
  .team-container {
    width: 78%;
  }
}

/* Large laptop / Desktop */
@media (min-width: 1200px) {
  .team-container {
    width: 78%;
    padding: 10px 10px;
  }
}

.text-stroke {
  -webkit-text-stroke: 2px #002067;
  text-stroke: 2px #002067;
}
